@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
  font-family: "Inter", sans-serif !important;
}

.locale.active {
  color: #1663be;
}

@keyframes mobileMenu {
  from {
    margin-bottom: 100%;
  }
  to {
    margin-bottom: 0%;
  }
}

@keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --main-blue: #1663be;
  --teal: #09737f;
}

#toTop {
  box-shadow: 0 0 5px black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #101010;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: transition 0.6s ease;
}

#mobileMenu {
  animation: mobileMenu 0.6s 1 ease-out;
}

.hero {
  height: 100vh;
  max-height: 960px;
}

.teal {
  color: var(--teal);
}

.bg-teal {
  background-color: var(--teal);
}

.title {
  font-size: 20px;
}

.subtitle {
  font-size: 48px;
  line-height: 20px;
  font-weight: 600;
}

.featureTitle {
  font-weight: 600;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.featureContent {
  font-size: 16px;
  opacity: 0.7;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more {
  color: var(--main-blue);
  transition: all 400ms;
  font-weight: 600;
}

.read-more:hover {
  color: #253da1;
}

.featureCard {
  background-color: #fff;
  border-radius: 15px;
  padding: 2rem;
}

.gridMin {
  display: grid;
  grid-template-rows: 1fr 0.6fr;
}

.a1 {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border-radius: 20% 0 20% 0;
  overflow: hidden;
  height: 100%;
}

.a2 {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border-radius: 30% 0 30% 0;
  overflow: hidden;
}

.a3 {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border-radius: 40%;
  overflow: hidden;
}

.a4 {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 50% 10% 50% 10%;
}

.a5 {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #00e4e4;
}

.contactsInfo {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mapContentTitle {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 32px;
}

.buttonBlue {
  border: none;
  padding: 1rem 2rem;
  background-color: var(--main-blue);
  color: #fff;
  border-radius: 4px;
  transition: all 0.4s;
}

.buttonBlue:hover {
  background-color: #253da1;
}

.aboutGrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}

.aboutGrid__Top {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  align-items: flex-end;
  gap: 24px;
}

.gridTop {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}

.topDiv {
  border-radius: 50% 0 50% 0;
  overflow: hidden;
}

.bottomDiv {
  border-radius: 0 30% 0 30%;
  overflow: hidden;
}

.gridjon {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 440px) {
  .title {
    font-size: 16px;
  }
  .mapContentTitle {
    text-align: center;
  }
  .buttonBlue {
    padding: 0.8rem 1.6rem;
  }
}

@media (max-width: 550px) {
  .gridjon {
    grid-template-columns: 1fr;
  }
  .a1 {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    max-height: none;
  }
  .whiteDiv {
    max-width: 100%;
    width: 100%;
    border-radius: 0;
  }
  .aboutGrid {
    display: none;
  }
  .subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  .a3 {
    border-radius: 30% 0 30% 0;
  }
}

@media (max-width: 1023px) {
  .gridTop {
    display: grid;
    grid-template-columns: 1fr;
  }
}
